.events {
  padding: 4rem 7rem 3rem 7rem;
}

.eventsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.event {
  height: auto;
  background-color: rgb(41, 41, 41);
  border-radius: 0.7rem;
  overflow: hidden;
  break-inside: avoid-column;
}

.eventImage > img {
  width: 100%;
}

.content {
  padding: 1rem;
}

.tags {
  display: flex;
  gap: 0.7rem;
}

.tags > p {
  font-size: 0.8rem;
  background-color: black;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.content > h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.content > p {
  font-size: 0.85rem;
  color: var(--medium-gray);
}
.content > button {
  width: 100%;
  margin-top: 1.2rem;
}

.creatorName {
  margin-top: 0.7rem;
}

.events > button {
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
